<h1 style="text-align: center; padding-top: 10%; padding-bottom: 5%;">
Welcome to your Online Library
</h1>
<p style="text-align: center;">
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur varius sem eget sollicitudin tristique. Pellentesque malesuada justo nec imperdiet sollicitudin. Phasellus blandit finibus risus ac aliquam. Etiam et eros felis. Proin interdum condimentum suscipit. Mauris mattis scelerisque dapibus. Duis ligula libero, rutrum a lectus vitae, placerat tincidunt leo. Sed vehicula ultricies tincidunt. In hendrerit aliquet elementum. Sed molestie quam sed dolor porttitor faucibus. Integer in porttitor odio. Praesent lacinia leo nulla, sed consequat elit malesuada quis. Cras justo turpis, posuere vitae augue vel, dapibus fringilla quam. Nunc consectetur vehicula dui vitae varius.

<br><br><br>

<%= link_to "Get Started", books_path, class: "btn btn-success", style: "text-align: center; left:50%"%>

</p>