<h1> Further Details </h1>

<br>

<%= render @book %>
<div>

  <%= link_to "Back To Books", books_path, class: "btn btn-primary" %>
  <%= link_to "Edit Book", edit_book_path(@book), class: "btn btn-primary" %> 

</div>
